.about {
  overflow-x: hidden;
}
.about
p,
h6 {
  color: #dcdbdb;
  font-weight: 400;
  font-size: 16px;
  text-align:justify;
}

/* for clinet  */
.client-wrapper {
  width: 14rem;
  height: 7rem;
  overflow: hidden;
  background: white;
  margin: 1rem 1rem 0rem 0rem;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 0px #0000003d;
  transition: 0.3s;
}
.client-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* For timeline */
.ps-timeline-sec {
  position: relative;
}
.ps-timeline-sec .container {
  position: relative;
}

@media screen and (max-width: 767px) {
  .content-handler-top {
    bottom: 82px !important;
    text-align: start;
    margin-left: 35px !important;
  }
  .content-handler-bot {
    position: absolute !important;
    top: -102px !important;
    text-align: start;
    float: left !important;
    margin-left: 35px !important;
  }
  .ps-timeline-sec .container ol:before {
    background: #ffffff;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: 130px !important;
    left: 36px !important;
  }
  .ps-timeline-sec .container ol:after {
    background: #ffffff;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    top: inherit !important;
    left: 36px;
  }
  .ps-timeline-sec .container ol.ps-timeline {
    margin: 130px 0 !important;
    border-left: 2px solid #ffffff;
    padding-left: 0 !important;
    padding-top: 120px !important;
    border-top: 0 !important;
    margin-left: 25px !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li {
    height: 220px;
    float: none !important;
    width: inherit !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li:last-child {
    margin: 0;
    bottom: 0 !important;
    height: 120px;
  }
  .ps-timeline-sec
    .container
    ol.ps-timeline
    li:last-child
    .content-handler-top {
    margin-bottom: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span {
    left: 0 !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
    content: none !important;
  }
  .ps-timeline-sec .container ol.ps-timeline li p {
    text-align: left !important;
    width: 100% !important;
    margin: 0 auto !important;
    margin-top: 0px !important;
  }
}
.content-handler-top {
  position: absolute;
  bottom: 0;
  width: 97%;
  margin-bottom: 6.5rem;
}
.content-handler-bot {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: 5rem;
}
.ps-timeline-sec .container ol.ps-timeline {
  margin: 240px 0;
  padding: 0;
  border-top: 2px solid #ffffff;
  list-style: none;
}
.ps-timeline-sec .container ol.ps-timeline li {
  float: left;
  width: 20%;
  padding-top: 30px;
  position: relative;
}
.ps-timeline-sec .container ol.ps-timeline li span {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  background: #fff;
  border: 4px solid #5b9bd5;
  border-radius: 50%;
  box-shadow: 0 0 0 0px #fff;
  text-align: center;
  line-height: 50px -10;
  color: #df8625;
  font-size: 2em;
  font-style: normal;
  position: absolute;
  top: -26px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:before {
  content: "";
  width: 2px;
  height: 50px;
  border: 1.7px dotted white;
  position: absolute;
  top: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-top:after {
  content: "";
  color: #ffffff;
  width: 8px;
  height: 8px;
  background: #ffffff;
  position: absolute;
  bottom: 90px;
  left: 44%;
  border-radius: 100%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:before {
  content: "";
  width: 2px;
  height: 50px;
  border: 1.7px dotted white;
  position: absolute;
  bottom: -50px;
  left: 50%;
}
.ps-timeline-sec .container ol.ps-timeline li span.ps-sp-bot:after {
  content: "";
  color: #ffffff;
  width: 8px;
  height: 8px;
  background: #ffffff;
  position: absolute;
  top: 90px;
  left: 44%;
  border-radius: 100%;
}

.ps-timeline-sec .container ol.ps-timeline li p {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}


/* ===== responsive ===== */
@media screen and (max-width: 767px){
  .client-wrapper {
    width:9rem;
    height:5rem;
  }
}
@media screen and (max-width: 380px) {
  .client-wrapper {
    width:7rem;
    height:4rem;
  }
}