.ftco-no-pt {
  padding-top: 0;
}

.ftco-no-pb {
  padding-bottom: 0;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #000;
  font-size: 14px;
  border-radius: 2px;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

textarea.form-control {
  height: inherit !important;
}

.wrapper {
  width: 100%;
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: #fff;
}
.contact-wrap h3{
  color:rgb(35,44,109)
}
.info-wrap h3 {
  color: #fff;
}

.info-wrap .dbox {
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 25px;
}

.info-wrap .dbox:last-child {
  margin-bottom: 0;
}
.info-wrap .dbox p {
  margin-bottom: 0;
}
.info-wrap .dbox p span {
  font-weight: 600;
  color: #fff;
}
.info-wrap .dbox p a {
  color: #fff;
}
.info-wrap .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-wrap .social-info .icon > a {
  text-decoration: none;
  color: rgb(218, 218, 218);
  font-size: 32px;
}
.info-wrap .icon span {
  font-size: 20px;
  color: #fff;
}
.info-wrap .dbox .text {
  width: calc(100% - 50px);
}
.contact .btn {
  padding: 12px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  box-shadow:5px 5px 15px 5px #4C548B;
  transition: 0.3s;
  color: white;
}
.btn:hover {
  color: white !important;
}

#contactForm .form-control {
  font-size: 16px;
}

#message {
  resize: vertical;
}
.map-wrap {
  width: 100%;
  height: auto;
  padding:10px;
}
.map-wrap iframe{
  box-shadow: 10px 15px 15px 7px rgb(0 0 0 / 25%);
  border-radius: 20px;  
}
.social-info i{
  transition: .3s;
}
.social-info .fab:hover{
  color: #1094F4 !important;
}