.service{
  overflow: hidden;
}
.image-frame {
  border-radius: 15px;
  overflow: hidden;
  width: 90%;
  height: 17rem;
  box-shadow: 10px 15px 15px 7px rgb(0 0 0 / 25%);
  padding:1rem;
}
.image-frame img {
  width: 100%;
  transition: 0.3s;
  height: 100%;
  object-fit: contain;
}

.image-frame:hover img {
  transform: scale(1.1);
}

.service-item-content > h2 {
  font-family: arial;
  color: rgb(35,44,109);
  font-weight: 600;
  margin-bottom:10px;
}
.service-middle-item h2{
  font-size: 2.7rem !important;
}

.service-item-content > p {
  font-size: 18px;
}

/* ======= responsive ======= */
@media screen and (max-width: 767px) {
  .service-middle-item{
    flex-direction:column-reverse;
  }
  .image-frame{
    width:100% !important;
  }
  .service-middle-item h2{
    font-size: 1.8rem !important;
  }
}
